<head>
    <title>frii.site verification</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="holder">
        <h1>{{ status }}</h1>
        <p>{{ status_message }}</p>
    </div>
</body>

<style>
    * {
        font-family: "Inter",sans-serif;
    }
    .holder {
        background-color: #fff;
        margin-right: auto;
        margin-left: auto;
        padding: 2em;
        width: 50vw;
        border-radius: 1em;
        margin-top: 4em;
    }
    body {
        height: 100vh;
        width: 100vw;
        background-color: rgb(225,225,225);
    }
</style>
